body {
    background-color: #9ec39a;
    font-family: Arial, sans-serif;
}

main {
    flex: 1;
}

.avatar {
    background-color: #6975d1;
}
nav {
    display: flex; 
    justify-content: center;
    align-items: center;
    padding: 10px 20px; 
    background-color: #138381; 
  }
  
  nav ul {
    list-style: none;
    padding: 0; 
    margin: 0;
  }
  
  nav li {
    display: inline-block;
    padding: 10px 20px;
    margin: 0 15px;
  }

  nav a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
  }

  pre {
    /* Add background color */
    background-clip: padding-box; 
    padding: 1rem; /* Add some padding for spacing */
    margin: 1rem 2;
  }

.footer {
    background-color: #138381;
    color: #022505;
    text-align: center; 
    padding: 5px 0;
  }
 
.footer__block {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

.footer__text {
    margin-bottom: 20px 
}

.footer__image {
        width: 30px;
        height: auto;
}

.footer__link {
    color: #022505;
    text-decoration: none;
    
}

.footer__link:hover {
    text-decoration: underline;
}